<div class="flex-row">
    <div class="flex-row-item-33">
        <ServerLoad />
    </div>
    <div class="flex-row-item-33">
        <MemoryUsage />
    </div>
    <div class="flex-row-item-33">
        <PlayerTrend />
    </div>
</div>

@code {

}
