@page "/console"
@using Common.Managers;
@using Common.Messaging.Messages;
@inject IStatsManager manager;

<h1>FLServer Console</h1>
<br/>

<PageTitle>Console</PageTitle>

<Service.Components.GameInterface.ConsoleOutput/>
<Service.Components.GameInterface.ConsoleInput/>

@code {

}
