@page "/"
@using Common.Managers;
@using Common.Messaging.Messages;
@inject IStatsManager manager;

<h1>Your Dashboard</h1>
<br/>

<PageTitle>Dashboard</PageTitle>

<Service.Components.Charts.Dashboard/>

@code {

}
